<h4>
  Comments
  <% if @post.comments.count != 0 %>
    <!-- This will display a badge on how many comments are posted -->
    <span class="badge pull-right"><%= @post.comments.count %></span>
  <% end %>
</h4>
