<% if user_signed_in?  %>
  <ul class="list-group" id="post-comment">
    <li class="list-group-item list-group-item-info">
      <h4>Post a Comment</h4>
    </li>
    <%= render "/comments/comment_form" %>
  </ul>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading" id="comment-header">
    <%= render "comments/comments_header" %>
  </div>

  <div class="list-group-item">
    <% if @post.comments.present? %>
      <% @post.comments.order(updated_at: :desc).each do |comment| %>
        <div id="comments">
          <%= render "/comments/comment_body", comment: comment %>
        </div>
      <% end %>
    <% else %>
      <div class="list-group-item">
          <h5 id="no-comments">No comment to display.</h5>
      </div>
    <% end %>
  </div>
