// if(document.getElementById('comments')) {
//   $("#comments").prepend("<%= j(render('/comments/comment_body', {comment: @comment})) %>");
// } else {
//   $("#no-comments").replaceWith("<div id=" + "comments" + ">" + "<%= j(render('/comments/comment_body', {comment: @comment})) %>" +"</div>")
// }

$("#comments").fadeOut(1000, function(){ $(this).remove() });
$("#comment-header h4").replaceWith("<%= j(render('/comments/comments_header')) %>");
