<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    <h4>Comment</h4>
  </li>

  <li class="list-group-item">
      <!-- keyword raw will make it enable to post a music video format -->
      <%= @comment.body %>
      <!-- This will display the action icons at container header -->
      <div id="action-icons">
        <%= link_to edit_post_comment_path(@post, @comment) do %>
          <i class="glyphicon glyphicon-edit"
          aria-hidden="true" style="color: blue"></i>
        <% end %>

        <%#= link_to post_comment_path(@post, comment), method: :delete,
        data: {confirm: "Are you use you want to delete this post?"} do %>
          <!-- <i class="glyphicon glyphicon-trash" aria-hidden="true"></i> -->
        <%# end %>
        <%= link_to "Delete", post_comment_path(@post, @comment), method: :delete,
                    data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
      </div> <!-- end of icons container -->
  </li>
</ul>
