<%= link_to post_likes_path(post), method: :post, remote: true do %>
  <i class="fa fa-thumbs-o-up" style="color: gray"></i>
<% end %>
<span class="badge"><%= pluralize(post.likes.count, "time") %></span>
