<h3>About Page</h3>

<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    <h4>Ivy Olamit</h4>
  </li>
  <li class="list-group-item">
    <p>
      A passionate Software Developer who currently joined the CodeCore
      Developer Bootcamp to pursue a career as a Software Web Developer.
      With over nine years' experience in a telecommunication software
      industry programming in C, gave me a valuable set of skills that
      will aide me in software development like analyzing requirements,
      designing, coding, testing, maintenance, debugging and process
      improvement with the combination of creativity, initiative and
      strong leadership skills that coaches and mentors colleagues.

      Strongly believing in the power of Internet, it gave me the drive on
      creating innovative solutions and contributing to my community and
      the web. Right now I am looking for a suitable position with a
      company that offers a unique work environment that promotes
      continuous improvement technically, personally and opportunity to
      grow with the company.
    </p>
  </li>
</ul>
