<% if flash[:notice] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="container col-md-8">
  <ul class="list-group">

    <% if @categories.present? %>
      <% @categories.each do |category| %>
        <li class="list-group-item list-group-item-info">
          <h4><%= category.title.capitalize %></h4>
        </li>
      <% end %>

    <% else %>
        <p>No category to display.</p>
    <% end %>

  </ul>
</div>
