<!-- All previous comments will be posted in the right side bar -->
<div class="panel panel-primary">
  <!-- This is the heading of the right side bar -->
  <div class="panel-heading">
    Comments
    <% if @post.comments.count != 0 %>
      <!-- This will display a badge on how many comments are posted -->
      <span class="badge pull-right"><%= @post.comments.count %></span>
    <% end %>
  </div>

  <!-- This will iterate all the comments for this specific post and display it -->
  <ul class="list-group">
    <!-- Check if there are comment data to display -->
    <% if @post.comments.present? %>
      <% @post.comments.each do |comment| %>
        <li class="list-group-item">
            <%= comment.body %>
        </li>
      <% end %>
    <% else %>
      <!-- There are no existing comments to display for this post -->
      <li class="list-group-item">
          No comment to display.
      </li>
    <% end %>
  </ul>
</div>
