<h3>Edit Blog Post</h3>

<% if @post.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <%= @post.errors.full_messages.join(", ") %>
  </div>
<% end %>

<%= render "blog_post_form" %>
