<div class="container">
  <h3>New Blog Post</h3>
</div>

<!-- check if there are any errors to display -->
<% if @post.errors.any? %>
  <div class="container alert alert-danger" role="alert">
    <%= @post.errors.full_messages.join(", ") %>
  </div>
<% end %>

<div class="container">
  <%= render "blog_post_form" %>
</div>
