// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
i {
  padding-top: .35em;
  aria-hidden: true;
  color: rgb(205, 88, 22);
  font-size: 2em;
}

img {
  border-radius: 50px;
  width: 75px;
  height: 95px;
}

// .about-container {
//   display: inline-block;
// }
